
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body{
  background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(27,125,221,1) 0%, rgba(40,228,246,1) 100%);
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-container{
  background-color: #3A506B;
  width: 70%;
  margin: 50px;
  padding: 5% 10%;
  border: 10px solid #0B132B;
  box-shadow: -4px 7px 12px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 7px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 7px 12px -1px rgba(0,0,0,0.75);
  border-radius: 10px;
}
#setting-container{
  display: flex;
  justify-content: space-around;
}
#timer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Aldrich', sans-serif;
}
#timer-label{
  font-size: 30px;
}
#time-left{
  font-size: 50px;
}
.buttons{
  display: flex;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #0B132B;
  color: white;
  width: 70px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -4px 7px 12px -1px rgba(0,0,0,0.75);
  font-size: 20px;
}
button:hover{
  background-color: #068ec4;
  font-size: 22px;
}
button:active{
  box-shadow: -2px 3px 7px -1px rgba(0,0,0,0.75);
  color: black;
}
footer{
  margin: 40px;
  text-align: center;
  padding: 40px;
  width: 100%;
  font-family: 'Aldrich', sans-serif;
  font-size: 20px;
}
hr{
  margin: 50px;
}
#contacts{
  margin: 40px;
}
a{
  margin: 50px;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  color: black;
}